---
layout: layouts/base.njk
---
{% include "partials/page-hero.njk" %}

<section class="section reading-width page-content">
  <div class="article-body">
    {{ content | safe }}
  </div>
</section>
