<div class="video-embed">
  <iframe src="https://www.youtube.com/embed/{{ videoId }}" title="{{ videoTitle }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
